<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>

In [5]:
#from google.colab import drive
#drive.mount('/content/drive')

In [1]:
# Import pandas, numpy, scip.stats
import pandas as pd
import numpy as np
from scipy import stats

## One Sample T Test

- According to Reynolds Intellectual Ability Scales, the average VIQ (Verbal IQ scores based on the four Wechsler (1981) subtests) is about 109.

- In our sample data, we have a sample of 40 cases.
- Let's test if the average VIQ of people is significantly bigger than 109.

In [6]:
# Brain size and weight and IQ data (Willerman et al. 1991)
#df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets/data_for_session_6/brain_size.csv", sep=";", na_values = ".", index_col = 0)

In [2]:
df = pd.read_csv("brain_size.csv", sep=";", na_values = ".", index_col = 0)

In [3]:
df.shape

(40, 7)

In [9]:
df.head()

   Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
1  Female   133  132  124   118.0    64.5     816932
2    Male   140  150  124     NaN    72.5    1001121
3    Male   139  123  150   143.0    73.3    1038437
4    Male   133  129  128   172.0    68.8     965353
5  Female   137  132  134   147.0    65.0     951545

In [11]:
# H0: mu = 109
# H1: mu > 109

In [17]:
# Calculate the mean of VIQ
xbar = df.VIQ.mean()
xbar

112.35

In [12]:
# Calculate the std of VIQ
s = df.VIQ.std()
s

23.616107063199742

In [13]:
s/np.sqrt(df.shape[0])     # sem or sigma_x_bar : std of imaginary graph (std for sampling dist of sample mean)

3.7340343893050605

In [14]:
# or we can use .sem() method, it is easier
df.VIQ.sem()

3.7340343893050605

In [15]:
df.shape

(40, 7)

In [18]:
# Calculate the test statistic
t_test = (xbar - 109)/(s/np.sqrt(df.shape[0]))

In [19]:
#test statistic
t_test

0.8971529586323551

In [20]:
# Calculate p-value
1 - stats.t.cdf(t_test, 39)

0.18757115929257173

In [ ]:
#help(stats.ttest_1samp)

In [23]:
# Use stats.ttest_1samp() to calculate the test statistic and p-value
oneSamp = stats.ttest_1samp(df.VIQ, 109, alternative='greater')
oneSamp

TtestResult(statistic=0.8971529586323551, pvalue=0.18757115929257173, df=39)

In [24]:
#Display p-value
oneSamp.pvalue

0.18757115929257173

In [25]:
# Compare p-value and alpha
alpha = 0.05

if oneSamp.pvalue < alpha:
    print("Reject the null")
else:
    print("Fail to reject the null")

Fail to reject the null

# Independent Samples T Test

## Arsenic Example

- Arsenic concentration in public drinking water supplies is a potential health risk.
- An article in the Arizona Republic (May 27, 2001) reported drinking water arsenic concentrations in parts per billion (ppb) for 10 metropolitan Phoenix communities and 10 communities in rural Arizona.
- You can find the data in CSV file.

Determine if there is any difference in mean arsenic concentrations between metropolitan Phoenix communities and communities in rural Arizona.

In [26]:
#Import arsenic dataset
# arsenic = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets/data_for_session_6/arsenic.csv")

In [28]:
arsenic = pd.read_csv("arsenic.csv")

In [29]:
arsenic

     Metro Phoenix  x1      Rural Arizona  x2
0          Phoenix   3            Rimrock  48
1         Chandler   7           Goodyear  44
2          Gilbert  25          New River  40
3         Glendale  10    Apache Junction  38
4             Mesa  15            Buckeye  33
5  Paradise Valley   6            Nogales  21
6           Peoria  12  Black Canyon City  20
7       Scottsdale  25             Sedona  12
8            Tempe  15             Payson   1
9         Sun City   7        Casa Grande  18

In [30]:
arsenic.columns

Index(['Metro Phoenix', 'x1', 'Rural Arizona', 'x2'], dtype='object')

In [ ]:
#H0: mu1 = mu2
#H1: mu1 != mu2

In [31]:
#Perform Levene test for equal variances
#H0: The population variances are equal
#H1: There is a difference between the variances in the population
#The small p-value suggests that the populations do not have equal variances.
leveneTest = stats.levene(arsenic.x1, arsenic.x2)
leveneTest

LeveneResult(statistic=7.7015516672169, pvalue=0.012482954069299166)

In [32]:
# average Metro Phoenix
arsenic.x1.mean()

12.5

In [33]:
# average Rural Arizona
arsenic.x2.mean()

27.5

Calculate the T-test for the means of two independent samples of scores.

In [ ]:
# H0: mu1 = mu2
# H1: mu1 != mu2

In [ ]:
#help(stats.ttest_ind)

In [35]:
# Calculate test statistics using stats.ttest_ind()
ind_test = stats.ttest_ind(arsenic.x1, arsenic.x2, equal_var = False)
ind_test

Ttest_indResult(statistic=-2.7669395785560553, pvalue=0.0158272848161009)

In [36]:
ind_test.statistic

-2.7669395785560553

In [37]:
ind_test.pvalue

0.0158272848161009

In [39]:
# Decision
alpha = 0.05

if ind_test.pvalue < alpha:
    print("Reject the null")
else:
    print("Fail to reject the null")

Reject the null

# Paired (Dependent) Samples T Test

## Prozac Data

- Let us consider a simple example of what is often termed "pre/post" data or "pretest/posttest" data.
- Suppose you wish to test the effect of Prozac on the well-being of depressed individuals, using a standardised "well-being scale" that sums Likert-type items to obtain a score that could range from 0 to 20.
- Higher scores indicate greater well-being (that is, Prozac is having a positive effect).
- While there are flaws in this design (e.g., lack of a control group) it will serve as an example of how to analyse such data.

Determine if Prozac enhances well-being in depressed individuals. Use   0.05

In [40]:
# read prozac dataset
#prozac = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets/data_for_session_6/prozac.csv")

In [43]:
prozac = pd.read_csv("prozac.csv")

In [44]:
prozac

   moodpre  moodpost  difference
0        3         5           2
1        0         1           1
2        6         5          -1
3        7         7           0
4        4        10           6
5        3         9           6
6        2         7           5
7        1        11          10
8        4         8           4

In [45]:
# moodpost - moodpre
# H0: d_bar = 0
# H1: d_bar > 0

In [52]:
# Calculate test statistics using stats.ttest_rel()
# moodpost - moodpre
pairedtest = stats.ttest_rel(prozac.moodpost, prozac.moodpre, alternative = "greater")
pairedtest

TtestResult(statistic=3.1428571428571423, pvalue=0.006872912197394244, df=8)

In [51]:
#help(stats.ttest_rel)

In [53]:
# moodpre - moodpost
# H0: d_bar = 0
# H1: d_bar < 0
#stats.ttest_rel(prozac.moodpre, prozac.moodpost, alternative="less")

In [54]:
# Decision
alpha = 0.05

if pairedtest.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

In [ ]:
#That means prozac treatment gives good results.