<a href="https://colab.research.google.com/github/bilal-ozgur/Preparation-for-Data-Analysis/blob/main/Tasks_lambda_func.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Task-1:

**Define a lambda function to reverse the elements of any iterables.** 

**Use parentheses for arguments and print the result.**

In [ ]:
iterable = "I learn Python"

reverser = lambda x : x[::-1]  # x represents iterable here

In [ ]:
reverser(iterable)

'nohtyP nrael I'

In [ ]:
(lambda x : x[::-1])([1,2,3])

[3, 2, 1]

### Task-2

**Write a Python program that types ‘even’ or ‘odd’ in accordance with the numbers in a list.**

**Use lambda function and loop. Your code must contain no more than 2 lines.** 

The sample list and desired output are as follows :

[1, 2, 3, 4]

1 : odd<br>
2 : even<br>
3 : odd<br>
4 : even

In [ ]:
(lambda x : "odd" if x % 2 != 0 else "even")(4)

'even'

In [ ]:
numbers = [1,2,3,4,5,6]

for i in numbers:
    print(i, ":", (lambda x : "odd" if x % 2 != 0 else "even")(i))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even

In [ ]:
for eleman in numbers :
    print(eleman, ":", (lambda x : "odd" if x % 2 != 0 else "even")(eleman))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even

### Task-3: Let's write the code using the map() function to return the lengths of the elements in the given list.

In [ ]:
#I chose random names

words = ["adel", "fatih", "Nalan", "vahdettin" ]

In [ ]:
map(len, words)

In [ ]:
list(map(len, words))

[4, 5, 5, 9]

In [ ]:
lengths = map(len, words)

In [ ]:
lengths

In [ ]:
print(* lengths)

4 5 5 9

### Task-4: Let's use the map() function and lambda expression to find the squares of all numbers in a list.

In [ ]:
square_func = lambda x : x ** 2

In [ ]:
iterable = [1, 2, 3, 4, 5]

In [ ]:
result = map(square_func, iterable)

In [ ]:
print(* result)

1 4 9 16 25

In [ ]:
print(* (map(lambda x : x ** 2, [1, 2, 3, 4, 5])))

1 4 9 16 25

### Task-5 : Using lambda inside the map() function, write a program that calculates the arithmetic means of two element pairs in the following two lists in accordance with their order and collects them into a list.

num1 = [9, 6, 7, 4]<br>
num2 = [3, 6, 5, 8]

In [ ]:
num1 = [9, 6, 7, 4]
num2 = [3, 6, 5, 8]

print(list(map(lambda x,y: (x+y)//2,num1,num2)))

[6, 6, 6, 6]